.mouse{
    width:50vw;
    height: 60vh;
}
.buymenu{
    width: 48vw;
    display: flex;
    margin: 0px;
    flex-direction: column;
}
button:nth-of-type(even){
    background-color: aquamarine;
}
button:hover{
    cursor: pointer;
}
@media only screen and (min-width:9px) {
.dae{
    display: none;
}
}
@media only screen and (min-width:10px) {
.mouse{
    color: rgb(37, 100, 151);
}
}
