.flex{
    display: flex;
    flex-wrap: wrap;
}
.clicker .total .buymenu {
    flex: 1 50%;
    box-sizing: border-box;
}
.count{
    margin-top: 9vh;
}
.mouse{
    width:90vw;
    height: 60vh;
    order: -2;
}
.buymenu{
    display: flex;
    margin: 0px;
    flex-direction: column;
    flex-grow: 1;
}
.total{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    flex-grow: 0.5;
}
.buybutton{
    height: 15vh;
}
.objects{
    height: 14vh;
    width: 14vh;
    display: inline-block;
}
.ownedTotal{
    display: inline;
}
button:nth-of-type(even){
    background-color: darkgrey;
}
button:hover{
    cursor: pointer;
}
@media only screen and (min-width:500px) {
.mouse{
    width:49vw;
}
}
@media only screen and (min-width:960px) {
.total{
    order: -1;
    flex-flow: column;
    height: 60vh;
}
.total, .mouse, .buymenu{
    width: 33vw;
}
.flex{
    flex-wrap: nowrap;
}
}
